// В этом файле должны быть стили для БЭМ-блока account, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.account {

  $block-name:                &; // #{$block-name}__element

  @include wrapper-full;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;

  &__title {
    margin-top: 0;
    margin-bottom: 5rem;

    font-size: 4rem;
    font-weight: 400;
    color: #444;

    @media (min-width: 550px) {
      font-size: 5rem;
    }
  }

  &__grid {
    @include row-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1000px) {
      flex-direction: row;
    }
  }

  &__img-wrapper {
    @include col;
    @include size-xs(8);
    @include size-md(5);
  }

  &__img {
    width: 100%;
    opacity: 0.8;
  }

  &__list {
    @include col;
    @include size-md(8);
    @include size-lg(5);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 550px) {
      align-items: center;
    }

    @media (min-width: 1000px) {
      align-items: flex-start;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    font-size: 1.6rem;
    text-align: left;
    font-weight: 600;

    @media (min-width: 550px) {
      text-align: center;
    }

    @media (min-width: 1000px) {
      text-align: left;
    }
  }

  &__number {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.5rem;
    border: 0.1rem solid #555;
    border-radius: 50%;
  }

  &__link {
    font-weight: 700;
    text-decoration: none;
    color: $accent-color;
  }
}
