extends ../pug/layout.pug

append config
  -
    currentTitle = 'Send Money, Pay Online, or Set Up a Merchant Account.'
    currentDescription = 'New website'
    currentUrl = 'index.html'

block content

  section.top-content#top-content
    .navbar__wrapper
      nav.navbar
        .navbar__logo
          span.navbar__logo-p1 P
          span.navbar__logo-p2 P
          | PayPal

        ul.navbar__list
          li.navbar__list-item.navbar__list-item--hover
            a.navbar__list-link(href='#personal') Personal
              i.fas.fa-chevron-down
            ul.navbar__dropdown
              li.navbar__dropdown-item
                a.navbar__dropdown-link.navbar__dropdown-link--1(href='#') How PayPal works
                a.navbar__dropdown-link.navbar__dropdown-link--2(href='#') What can you do with a personal account
              li.navbar__dropdown-item
                a.navbar__dropdown-link.navbar__dropdown-link--1(href='#') Pay online
                a.navbar__dropdown-link.navbar__dropdown-link--2(href='#') Online payment without borders
              li.navbar__dropdown-item
                a.navbar__dropdown-link.navbar__dropdown-link--1(href='#') Send payments
                a.navbar__dropdown-link.navbar__dropdown-link--2(href='#') Send payments abroad
              li.navbar__dropdown-item
                a.navbar__dropdown-link.navbar__dropdown-link--1(href='#') Search for deals
                a.navbar__dropdown-link.navbar__dropdown-link--2(href='#') Pay with PayPal and send money
          li.navbar__list-item.navbar__list-item--hover
            a.navbar__list-link(href='#business') Business
              i.fas.fa-chevron-down
            ul.navbar__dropdown
              li.navbar__dropdown-item
                a.navbar__dropdown-link.navbar__dropdown-link--1(href='#') All business solutions
                a.navbar__dropdown-link.navbar__dropdown-link--2(href='#') See our range of products
              li.navbar__dropdown-item
                a.navbar__dropdown-link.navbar__dropdown-link--1(href='#') Accept online payments
                a.navbar__dropdown-link.navbar__dropdown-link--2(href='#') Get paid on your website
              li.navbar__dropdown-item
                a.navbar__dropdown-link.navbar__dropdown-link--1(href='#') Send invoices
                a.navbar__dropdown-link.navbar__dropdown-link--2(href='#') Create and email online invoices
              li.navbar__dropdown-item
                a.navbar__dropdown-link.navbar__dropdown-link--1(href='#') Sell internationally
                a.navbar__dropdown-link.navbar__dropdown-link--2(href='#') PayPal supports your global growth
          li.navbar__list-item
            a.navbar__list-link(href='#personal') Partners and Developers
        ///.navbar__list

        .navbar__buttons
          button.navbar__btn.navbar__btn--login Login
          button.navbar__btn.navbar__btn--signup Signup
      ///.navbar

    .top-content__banner
      h1.top-content__heading We've Got You Covered
      p.top-content__paragraph Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam.
      a.top-content__banner-btn.btn--blue(href='#') Learn More
    ///.top-content__banner
  ///.top-content
