// В этом файле должны быть стили для БЭМ-блока features, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.features {

  $block-name:                &; // #{$block-name}__element

  @include wrapper-full;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;

  color: #fff;
  background: linear-gradient(to right, rgba(3, 33, 129, 0.9), rgba(9, 67, 153, 0.8), rgba(4, 32, 124, 0.9));

  &__title {
    margin: 0;
    margin-bottom: 5rem;

    font-size: 4rem;
    font-weight: 300;
    text-align: center;

    @media (min-width: 550px) {
      font-size: 5rem;
    }
  }

  &__grid {
    @include row-flex;

    @media (min-width: 1000px) {
      width: 90%;
    }

    @media (min-width: 1400px) {
      width: 80%;
    }

    @media (min-width: 1500px) {
      width: 70%;
    }
  }

  &__col {
    @include col;
    @include size-sm(6);
    @include size-md(4);

    margin-bottom: 5rem;
    padding: 0 4rem;
    text-align: center;

    @media (min-width: 768px) {
      padding: 0 1.5rem;
    }

    @media (min-width: 1000px) {
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }

  &__heading {
    font-size: 3rem;
    font-weight: 300;
  }

  &__paragraph {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
}
